.main {

}

.widget {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: azure;
  width: 600px;
  height: 700px;
}

.header {
  margin: 0 0 5px 0;
}

.header--title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid black;
}

.header--actions {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0 0 0;
}

.users-list {
  height: 610px;
  overflow: auto;
}
