<form (submit)="submitUser()">
  <label class="input-label"> name <input name="name" [(ngModel)]="name"></label>
  <label class="input-label"> username <input name="username" [(ngModel)]="username"></label>
  <label class="input-label"> email <input name="email" [(ngModel)]="email"></label>
  <label class="input-label"> phone <input name="phone" [(ngModel)]="phone"></label>
  <label class="input-label"> website <input name="website" [(ngModel)]="website"></label>
  <div class="form-control">
    <button type="submit"> {{buttonCaption}} </button>
    <button (click)="debug($event)" > debug </button>
  </div>
</form>
